<% include ./partials/header %>
<div class="row">
  <div class="col-md-12 text-center">
    <form class="form-signin" action="/login" method="post">
      <i class="fas fa-campground campground-logo"></i>

      <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
      <label for="username" class="sr-only">Username</label>
      <input class="form-control" type="text" name="username" placeholder="Username">
      <label for="password" class="sr-only">Password</label>
      <input class="form-control" type="password" name="password" placeholder="Password">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</div>
<% include ./partials/footer %>
