<% include ../partials/header %>
    <header class="jumbotron">
        <div class="container">
            <h1><i class="fas fa-campground"></i> Welcome to YelpCamp</h1>
            <p>View our handpicked campgrounds from all over the world</p>
            <p>
                <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New Campground</a>
            </p>
        </div>
    </header>

      <div class="row text-center">
        <% if (notFound) { %>
          <div class="col-md-12 text-center">
            <h1><%= notFound %></h1>
            <a href="/campgrounds/">Show all campgrounds</a>
          </div>
        <% } %>
        <% campgrounds.forEach(function(campground) { %>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="<%= campground.image ? campground.image : '/images/missing-image.jpg' %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= campground.name %></h5>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
              </div>
            </div>
          </div>
        <% }); %>
      </div>

<% include ../partials/footer %>
